body {
  background-color: #d9d9d9; }

.wrapper {
  padding: 20px; }

div.header {
  margin-top: 25px;
  padding-bottom: 25px;
  background-color: #CF4646;
  border-radius: 3px; }

ul {
  list-style-type: none; }

li {
  padding: 20px; }

.first-line {
  font-size: 1.5em; }

.note {
  padding-left: 20px; }

li.days:nth-child(odd) {
  background-color: #CF4646;
  color: white;
  border-radius: 3px; }

li.days:nth-child(even) {
  background-color: #fff; }

.geo {
  margin-top: 20px;
  margin-bottom: 20px; }

h1.city {
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 2em; }

span.first-line {
  font-weight: bold; }

h1.heading {
  color: #fff;
  font-family: Pacifico;
  padding: 20px;
  font-size: 2.8em;
  margin-top: 30px; }

h1.todayIcon {
  padding-bottom: 0; }

div.title {
  text-align: center; }

span {
  font-size: 1.2em; }

div.buttons {
  text-align: center; }

h1 img {
  width: 100px; }