body {
  background-color: rgb(255, 255, 255);
}

.wrapper {
  padding: 20px;
}

div.header {
  margin-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(207, 70, 70, 1); 
  border-radius: 3px;
}

ul {
  list-style-type: none;
}
  
li {
  padding: 20px;
}

.first-line {
  font-size: 1.5em;
}

.note {
  padding-left: 20px;
}

li.days:nth-child(odd) {
  background-color: rgba(207, 70, 70, 1);  
  color: rgb(255, 255, 255);
  border-radius: 3px;  
}

li.days:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.geo {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1.city {
   color: rgb(255, 255, 255); 
   text-align: center;
   padding: 15px;
   margin-top: 50px;
   border-radius: 5px;
   font-size: 2em;
 }

span.first-line {
  font-weight: bold;
}

h1.heading {
  color: rgb(255, 255, 255);  
  padding: 20px;
  font-size: 2em;
  margin-top: 40px;
}

span {
  font-size: 1.2em;
}

div.buttons {
  text-align: center;
}

